<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated fsmove -->
      <factory
            uri="http://maybeec.github.io/task-fsmove/1.0"
            class="com.github.maybeec.oomph.task.fsmove.provider.fsmoveItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated fsmove -->
      <extender
            uri="http://www.eclipse.org/oomph/base/1.0"
            class="com.github.maybeec.oomph.task.fsmove.provider.fsmoveItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://www.eclipse.org/oomph/setup/1.0"
            class="com.github.maybeec.oomph.task.fsmove.provider.fsmoveItemProviderAdapterFactory$SetupChildCreationExtender"/>
   </extension>
</plugin>
